nav {
    border-radius: 15px;
}

#cardCrear {
    height: 10rem;
    padding-top: 20px;
    border: 1px solid rgb(53, 52, 52);
}

#tareas {
    margin-top: 20px;
}

.btnDeleteTarea {
    margin-left: 30px;
}

.form-check-input:checked {
    background-color: rgb(0, 0, 0);

}